/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Permite que el footer esté al fondo */
}

/* Estilo del encabezado y navegación */
header {
    background-color: #00aaff;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px gray;
    transition: background-color 0.3s ease;
}

header.sticky {
    background-color: #0088cc;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem; /* Tamaño de letra */
}



.nav-links a:hover {
    text-decoration: underline;
}

.cta-button-container {
    text-align: center;
    margin: 20px 0; /* Espacio entre el título y el botón */
}

.cta-button {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF; /* Azul como ejemplo */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3; /* Un tono más oscuro para hover */
}










/* Hero Section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/fondo3.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0 20px;
    flex-direction: column;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

.hero p {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
}

/* Sección Beneficios */
.benefits {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}

.benefits h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #00aaff;
    margin-bottom: 40px;
}

.benefit-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefit-card {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.benefit-card:hover {
    transform: translateY(-10px);
}

.benefit-card img {
    width: 190px;
    height: auto;
    margin-bottom: 15px;
}

.benefit-card h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Galería de Imágenes */
.image-gallery {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.gallery-item {
    position: relative;
    width: 100%; 
    max-width: 250px; 
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
}

.flip-card {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: #f1f1f1;
}

.flip-card-back {
    background-color: #fff;
    transform: rotateY(180deg);
}

.flip-card-front img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-bottom: 2px solid #fff;
}

.flip-card-front p {
    text-align: center;
    margin: 10px 0 0;
    font-weight: bold;
    color: #333;
}

.flip-card-back p {
    padding: 20px;
    font-size: 14px;
}


/* Responsive para pantallas más pequeñas */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }

    .flip-card {
        max-width: 200px; /* Ajusta el tamaño de la tarjeta en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }

    .flip-card {
        max-width: 100%; /* Ocupa todo el ancho disponible */
    }
}


/* Sección Servicios */
.services {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

.services h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #00aaff;
    margin-bottom: 40px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
    color: #00aaff;
    margin-bottom: 15px;
}

.service-card p {
    margin-bottom: 10px;
}

.service-card ul {
    list-style-type: none;
    padding-left: 0;
}

.service-card li {
    margin-bottom: 5px;
}

/* Sección Nosotros */
.nosotros {
    padding: 50px 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 800px; /* Ancho máximo */
}

.nosotros h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #074a8a;
    margin-bottom: 20px;
}

.nosotros h2 {
    font-size: 2rem;
    color: #074a8a;
    margin: 20px 0 10px;
}

.nosotros p {
    margin: 10px 0 20px;
    line-height: 1.5;
    font-size: 1.1rem;
}

.nosotros ul {
    list-style-type: none;
    padding-left: 0;
}

.nosotros li {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #555; /* Color más suave */
}


/* Responsividad */
@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        margin-top: 10px;
    }
    
    .nav-links li {
        margin: 5px 0;
    }

    .nosotros {
        padding: 30px 10px;
    }
}

/* Sección de contacto */
.contacto {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 1    0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    flex: 1; /* Permite que esta sección crezca y ocupe espacio */
}

.contacto h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #00aaff;
    margin-bottom: 20px;
    animation: fadeInDown 0.8s ease-out;
}

.contact-info {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    animation: fadeInUp 1s ease 1s;
    animation-fill-mode: both;
}

.contact-info div {
    text-align: left;
    max-width: 300px;
}

.contact-info h3 {
    color: #00aaff;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info h3 i {
    font-size: 1.8rem;
    color: #00aaff;
    margin-right: 10px;
}

.contact-info p {
    color: #333;
    font-size: 1rem;
}

/* Animaciones */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .contacto {
        width: 90%;
        padding: 40px 10px;
    }
    
    .contact-info {
        flex-direction: column;
        gap: 20px;
    }

    .contact-info div {
        max-width: 100%;
        text-align: center;
    }
    
    .contact-info h3 {
        justify-content: center;
    }
}
/* Footer */
footer {
    background-color: #00aaff;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    position: relative; /* Posición normal para el footer */
    bottom: 0; /* Asegura que el footer esté al pie */
    left: 50%; /* Mueve el footer al centro */
    margin-left: -50vw; /* Compensa el margen para el ancho total */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad */
    animation: slideUp 1s ease 0.5s; /* Animación */
    animation-fill-mode: both; /* Mantiene el estado final de la animación */
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
